body{
    background-image: url('https://source.unsplash.com/random/?landscape');

}
.card-group{
    display: flex;
    justify-content: center;
}
.card1{
    background-color: #010101d0;
    color:white;
   border-radius: 15px; 
  width: 100%;
  max-width: 400px;
  padding: .5em 1em;
  font-size: 106%;
}
.description{
    text-transform: capitalize;
}
